<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>后台管理</title>
<link rel="apple-touch-icon" sizes="120x120" href="__ADMIN__/favicon/apple-icon-120x120.png">
<link rel="icon" type="image/png" sizes="192x192" href="__ADMIN__/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="__ADMIN__/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="__ADMIN__/favicon/favicon-16x16.png">
<link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__VENDOR__/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="__ADMIN__/stylesheets/css/style.css">
<link rel="stylesheet" href="__ADMIN__/stylesheets/css/public.css">
<link rel="stylesheet" href="__VENDOR__/sweetalert-master/dist/sweetalert.css">
<link rel="stylesheet" href="__VENDOR__/animate.css/animate.css">