<!doctype html>
<html lang="en" class="fixed">

<head>
    {include file='Public/meta' /}
</head>

<body>
<div class="wrap">
    {include file="Public/header" /}
    <div class="page-body">
        {include file='Public/sidebar' /}
            <div class="row animated fadeInRight">
                <div class="col-sm-12">
                    <h4 class="section-subtitle"><b>权限组列表</b></h4>
                    <div class="panel">
                        <div class="panel-content">
                            <div class='row'>
                                <div class="col-sm-12">
                                    <form action="__URL__" method='get' class='search_form'>
                                        权限组名：
                                        <input type='text' name='group_name' class='form-control input-sm' placeholder='请输入权限组名' value="{$Think.get.group_name}" />
                                        权限组状态：
                                        <select name='status'  class='form-control'>
                                            <option value='0' {eq name='$Think.get.status' value='0'}selected='selected'{/eq}>所有</option>
                                            <option value='1' {eq name='$Think.get.status' value='1'}selected='selected'{/eq}>正常</option>
                                            <option value='2' {eq name='$Think.get.status' value='2'}selected='selected'{/eq}>屏蔽</option>
                                        </select>     
                                        <button class='btn btn-primary search_button'>搜索</button>
                                        <button type='button' class='btn btn-lighter-1' id='add_group' style="float: right;">添加权限组</button>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="basic-table" class="data-table table table-striped nowrap table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>权限组ID</th>
                                        <th>权限组名称</th>
                                        <th>权限组状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='groups' id='vo'}
                                        <tr id="{$vo.role_id}">
                                            <td>{$vo.role_id}</td>
                                            <td>{$vo.role_name}</td>
                                            <td>
                                                 {if $vo.role_status eq 1}
                                                    <i class='fa fa-check change_status'>
                                                    </i>
                                                 {else /}
                                                    <i class='fa fa-close change_status'>
                                                    </i>
                                                 {/if}
                                            </td>
                                            <td>
                                                {if $vo.role_id neq 1}
                                                    <a href="{:url('Group/authorize', array('val_id' => $vo['role_id']))}">
                                                        <button class="btn btn-success">
                                                             <i class='fa fa-sitemap'></i> 访问授权
                                                        </button>
                                                    </a>
                                                {/if}
                                                 <a href="{:url('Group/user', array('val_id' => $vo['role_id']))}">
                                                    <button class="btn btn-success">
                                                         <i class='fa fa-users'></i> 成员授权
                                                    </button>
                                                </a>
                                                <a href="{:url('Group/operate', array('action' => 'edit','val_id' => $vo['role_id']))}">
                                                    <button class="btn btn-lighter-1">
                                                         <i class='fa fa-pencil-square-o'></i> 编辑
                                                    </button>
                                                </a>
                                                {if $vo.role_id neq 1}
                                                    <button class="btn btn-danger delete_admin">
                                                        <i class='fa fa-trash'></i> 删除
                                                    </button>
                                                {/if}
                                            </td>
                                        </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    {$groups->render()}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {include file='Public/right-sidebar' /}
        <a href="#" class="scroll-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
</div>
{include file='Public/footer' /}
<script type="text/javascript">
    $(function(){
        //跳转到添加页面
        $('#add_group').on('click', function(){
            window.location.href='/Admin/Group/operate/action/add';
        });

        //屏蔽或启用
        $('.change_status').on('click', function(){
            var _this = $(this);
            var val_id = $(this).parent().parent().attr('id');

            $.ajax({
                    url:'/Admin/Group/yesOrNo',
                    type:'post',
                    data:{val_id:val_id},
                    datatype:'json',
                    success:function(result){
                        if (result.code == 1000) {
                            if (result.msg == 'yes') {
                               _this.removeClass('fa-close');
                               _this.addClass('fa-check');
                            } else {
                                _this.removeClass('fa-check');
                               _this.addClass('fa-close');
                            }
                        } else {
                            swal("操作失败", result.msg, "error");
                        }
                    }
            });
        });

        //删除权限组
        $('.delete_admin').on('click', function(){
             var _this = $(this);
             var val_id = $(this).parent().parent().attr('id');
             swal({ 
              title: "确定删除吗？", 
              text: "你确定要删除该权限组吗？", 
              type: "warning",
              showCancelButton: true, 
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "确定删除", 
              closeOnConfirm: false
             },
             function(){
                    $.ajax({
                        url:'/Admin/Group/delete',
                        type:'post',
                        data:{val_id:val_id},
                        datatype:'json',
                        success:function(result){
                            if (result.code == 1000) {
                               _this.parent().parent().remove();
                               swal("操作成功", "权限组删除成功！", "success"); 
                            } else {
                               swal("操作失败", result.msg, "error"); 
                            }
                        }
                   });
            });  
        });
    });
</script>
</body>
</html>
