<!doctype html>
<html lang="en" class="fixed">

<head>
    {include file='Public/meta' /}
</head>

<body>
<div class="wrap">
    {include file="Public/header" /}

    <div class="page-body">
        {include file='Public/sidebar' /}
            <div class="row animated fadeInRight">
                <div class="col-sm-12">
                    <h4 class="section-subtitle"><b>编辑管理员</b></h4>
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="inline-validation" class="form-horizontal form-stripe" novalidate="novalidate" operator="{$admin_info.admin_id}">
                                        <div class="form-group">
                                            <label for="manager_id" class="col-sm-3 control-label">管理员ID<span class="required" aria-required="true">*</span></label>
                                            <div class="col-sm-6">
                                                <span class="input-with-icon">
                                                    <input type="text" class="form-control" id='manager_id' value="{$info.admin_id}" readonly  aria-required="true">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <button class="btn btn-success" id='copy' type='button' data-clipboard-action="copy" data-clipboard-target="#admin_id"><i class='fa fa-files-o'></i> 点击复制
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <label for="manager_name" class="col-sm-3 control-label">管理员账号<span class="required" aria-required="true">*</span></label>
                                            <div class="col-sm-6">
                                                <span class="input-with-icon">
                                                    <input type="text" class="form-control" id='manager_name' value="{$info.admin_name}" disabled="disabled"  aria-required="true">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="manager_nickname" class="col-sm-3 control-label">管理员昵称<span class="required" aria-required="true">*</span></label>
                                            <div class="col-sm-6">
                                                <span class="input-with-icon">
                                                    <input type="text" class="form-control" id='manager_nickname' value="{$info.admin_nickname}" aria-required="true">
                                                    <i class="fa fa-address-card-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="col-sm-3 control-label">管理员密码<span class="required" aria-required="true">*</span></label>
                                            <div class="col-sm-6">
                                                <span class="input-with-icon">
                                                    <input type="password" class="form-control" id="password" name="password"  aria-required="true">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="repassword" class="col-sm-3 control-label">确认密码<span class="required" aria-required="true">*</span></label>
                                            <div class="col-sm-6">
                                                <span class="input-with-icon">
                                                    <input type="password" class="form-control" id="repassword" name="repassword"  aria-required="true">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="col-sm-3 control-label">手机号码<span class="required" aria-required="true">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="phone" value="{$info.phone}" maxlength='11' minlength="11" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-sm-3 control-label">邮箱<span class="required" aria-required="true"></span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="email" value="{$info.email}" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <input type='hidden' id='manager_id' level="{$admin_info.level}" value="{$info.admin_id}" />
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="button" id='submit_form' class="btn btn-primary">
                                                    提交
                                                </button>
                                                
                                                <button type="reset" class="btn btn-wide" onclick="window.history.back()">
                                                    返回列表
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {include file='Public/right-sidebar' /}
        <a href="#" class="scroll-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
</div>
{include file='Public/footer' /}
<script type="text/javascript" src="__VENDOR__/clipboard.js-master/clipboard.min.js"></script>
<script type="text/javascript">
    $(function(){
        //复制内容
        var clipboard = new Clipboard('#copy');

        clipboard.on('success', function(e) {
           alert('复制成功！');
        });

        clipboard.on('error', function(e) {
           alert('复制失败！');
        });

        var operator = $('#inline-validation').attr('operator');

        //提交表单
        $('#submit_form').on('click',function(){
            var manager_id = $('#manager_id').val();
            var manager_nickname = $('#manager_nickname').val();
            var password = $('#password').val();
            var repassword = $('#repassword').val();
            var phone = $('#phone').val();
            var email = $('#email').val();

            if (password != '' || repassword != '') {
                if (password != repassword) {
                 swal("操作失败", '两次密码输入不一致！',"error");
                 return false;
                }
            }
            
            $.ajax({
                url:"/Admin/Manager/edit",
                type:'post',
                data:{'manager_id':manager_id,'manager_nickname':manager_nickname,'password':password,'repassword':repassword,'phone':phone,'email':email},
                success:function(result){
                    if (result.code == 1000) {
                         swal({ 
                          title: "操作成功", 
                          text: "即将返回到列表...", 
                          type: "success",
                          timer: 1500, 
                          showConfirmButton: false 
                        }, function(){
                            if (manager_id != operator) {
                                window.location.href="/Admin/Manager/index";
                            }else{
                                window.location.href="/Admin/Manager/edit/manager_id/"+manager_id;
                            }
                        });
                    } else {
                         swal("操作失败", result.msg,"error");
                    }
                }
            });
        });
    });
</script>
</body>
</html>
